 $primary: #23212c;
 $body-bg: #121212;
 $font-color: #d9d9d9;
 $secondary: #FBA30F;

@font-face {
  font-family: "CustomeFont"; /* Noto Serif*/
  src: url("../../font/Noto_Sans/NotoSans-VariableFont_wdth,wght.ttf");
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Adjust spacing between cards */
}

.card-deck .card {
  flex: 1 1 calc(25% - 1rem); /* Four cards per row, adjust based on your grid */
  min-width: 15rem; /* Minimum width for responsive design */
  max-width: 18rem; /* Optional: Limit maximum card width */
}

.movie-container {
  font-family: "CustomeFont";
  color: $font-color;
  background-color: '#121212'
}
.movie-list {
  background-color: $body-bg;
  font-style: $font-color;
  font-weight: 900;
  //font-family: Georgia, "Times New Roman", Times, serif;
  font-family: "CustomeFont";
  padding: 20px;
  
}

.movie-view {
  margin: auto;
  background-color: $body-bg;  
  color: white;
  padding: 30px;
  
}

.movie-view-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #2d2d2d;
  color: antiquewhite;
  border: 1px solid #000000 !important;
}

.movie-view-image {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-view-title {
  //background-color: #121212 !important;
  //fontSize: 'larger',  color: 'blue'  
  font-size: 2rem;
  margin-bottom: 20px;


}

.movie-view-description,
.movie-view-genre,
.movie-view-director,
.movie-view-rating,
.movie-view-featured,
.movie-view-actors {
  margin-bottom: 10px;
}


.movie-details-column {
  font-size: large !important;
  font-weight: 500;
  padding: 10px;
  color: $font-color;
  margin-left: 25px;
  margin-top: 20px;
}

.movie-image-column{
  background-color: #121212;
margin-right: auto;
width: 10px !important;
}

.col-5{
  width: 50% !important;
}

// .back-button {
//   margin-top: 20px;
//   color: #007bff;
//   text-decoration: none;

//   &:hover {
//     text-decoration: underline;
//   }
// }

.movie-view-container .add-to-favorites-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 24px;
  padding: 10px;
  background: none;
  z-index: 1;
}

.add-to-favorites-btn .favorited {
  color: red;
}

.add-to-favorites-btn .not-favorited {
  color: gray;
}
  
.similar-movies {
  margin: 20px;
}

.movie-details-column{
  width: auto;
}

// .FavButton{
//   border-radius: 4px !important;
//   margin-top: 20px !important;
//   width: 25% !important;
//   height: 50px !important;
//   background-color: $primary !important;
//   color: white !important;
//   font-style: normal !important;
//   margin-left: 25px !important;
// } 

