$primary: #23212c;
$body-bg: #d9d9d9;
$secondary: #FBA30F;

@font-face {
  font-family: "CustomeFont"; /* Noto Serif*/
  src: url("./font/Noto_Sans/NotoSans-VariableFont_wdth,wght.ttf");
}

body {
  background-image: url("./images/Background_Color.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "CustomeFont";
}

.displayMovies {
 // background-image: url("./images/background-5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.movie-bee {
  color: $primary;
  padding: 50px;
}



.primary-button {
  border-radius: 4px !important;
  margin-top: 20px !important;
  width: 25% !important;
  height: 50px !important;
  background-color: $primary !important;
  color: white !important;
  font-style: normal !important;
  //margin-right: 25px !important;
}

.link-button{
color: $secondary !important;
}


.loginForm,
.signupForm {
  background-color: $body-bg;
  padding: 25px;
}

Label {
  padding-top: 10px;
}

Row {
  padding: 100px !important;
}

.mr-sm-2 {
  position: relative;
  flex: none !important;
  width: 200px !important;
}

