<<<<<<< Updated upstream
$color: #395C6B;
=======
$primary: #23212c;
$body-bg: #d9d9d9;

@font-face {
  font-family: "CustomeFont"; /* Noto Serif*/
  src: url("./font/Noto_Sans/NotoSans-VariableFont_wdth,wght.ttf");
}

body {
  background-image: url("./images/Background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "CustomeFont";
}

.displayMovies {
  background-image: url("./images/background-5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
>>>>>>> Stashed changes

.movie-bee {
  color: $primary;
  padding: 50px;
}
<<<<<<< Updated upstream
=======

.movie-list {
  background-color: $body-bg;
  font-weight: 900;
  // font-family: Georgia, "Times New Roman", Times, serif;
  font-family: "CustomeFont";
  padding: 20px;
}

.movie-view {
  margin: auto;
  background-color: $body-bg;
  color: white;
  font-family: "CustomeFont";
  padding: 30px;
}

.movie-card {
  font-size: medium;
  font-weight: 500;
  padding-bottom: 10px;
  color: $primary;
}

.myButton {
  border-radius: 4px !important;
  margin-top: 20px !important;
  width: 100% !important;
  height: 50px !important;
  background-color: $primary !important;
  color: white !important;
  font-style: normal !important;
}

.loginForm,
.signupForm {
  background-color: $body-bg;
  padding: 25px;
}

Label {
  padding-top: 10px;
}

Row {
  padding: 100px !important;
}

/* Note: Moved to 'movie-view.scss'
.back-button {
  width: 100px;
  height: 50px;
  background-color: #395c6b;
  color: white;
  font-style: normal;
}

.form-view {
  height: auto;
  width: 50%;
  background-color: #f8dca8;
  padding: 20px 60px 30px 20px;
  display: grid;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}
*/
>>>>>>> Stashed changes
