$primary: #23212c;
$body-bg: #d9d9d9;
$secondary: #FBA30F;

Navbar{
    padding: 10px !important;
}
// .nav-link.active {
//     text-decoration: underline;
//     font-weight: bold; /* Optional: Makes active links stand out */
//   }
.nav-underline {
    font-weight: bold !important;
    border-bottom: 2px solid #ff5722 !important; 
  }
  
  .nav-underline .nav-link:hover {
    border-bottom: 2px solid #42a5f5; 
  }